.text{
    margin: 30px;

}

.text .box{
    padding: 25px;
}

.text .box span{
 border: 5px dotted red;
 color: greenyellow;
 background-color: grey;
 border-radius: 4px;
 margin: 20px;
 padding: 10px

}

.ayda .bastami span{
    border: 6px dashed blue;
    color: crimson;
    background-color: pink;
    border-radius: 7px;
}